#checkout {
	position: fixed;
	z-index: 99;
	top: 0;
	right: calc(50vw - 50%);
	height: 90vh;
	width: 400rem;
	max-width: 95%;
	background-color: $background;
	outline: 1px solid $font-color;
}

#checkout-close {
	width: 20rem;
	height: 20rem;
	padding: 4px;
	margin: {
		top: 8px;
		left: 8px;
	}
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		display: block;
		width: 20rem;
		height: 2rem;
		background-color: $font-color;
		transform-origin: calc(50% - 1rem);
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.checkout-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 4px 8px;
}

.checkout-breakdown {
	flex: 1 1 100%;

	h2 {
		margin-left: 0;
	}

	& > div {
		margin-top: 2ex;
	}
}

.breakdown-total {
	display: flex;
	justify-content: space-between;
}

.payment-breakdown {
	flex: 1 1 100%;
}

#payment-submit {
	display: block;
}
