.concert {
	border: 1px solid $ink;
	width: 90%;
	padding: 8px;
	margin: 16px 0 16px 5%;
}

.concert_form {
	margin-top: 1ex;

	fieldset {
		padding: 4px;
	}
}

.ticket-amt_label {
	margin-right: .5em;
}

.concert_add {
	margin-left: 1em;
}
